<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">

</head>
<body>
<header th:insert="fragments/header">
</header>

<main>
    <div class="container">
        <div class="row mt-3">
            <!-- Sidebar -->
            <div class="col s12 m4 l3">
                <ul class="collapsible z-depth-3">
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">book
                        </i><span th:text="${course.courseName}">Course name</span></div>
                        <div class="collapsible-body"><span th:text="${course.courseDescription}">Course description</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_atm</i>Price</div>
                        <div class="collapsible-body"><span>Free</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">school
                        </i>Difficulty
                        </div>
                        <div class="collapsible-body"><span th:text="${course.courseDifficulty}">Course Difficulty</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Tutor</div>
                        <div class="collapsible-body">
                            <a th:href="@{/tutors/{tutorId}(tutorId=${course.tutor.tutorId})}">
                                <div class="row">
                                <img th:src="${course.tutor.imgUrl}"
                                     class="col s4 m12 circle responsive-img"
                                     alt="instructor image"/>
                                <div class="col s8 m12 teal-text mt-3 center-align">
                                <strong
                                    th:text="${course.tutor.tutorName} + ' ' + ${course.tutor.tutorSurname}">Tutor Date</strong>
                                </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Course Details -->
            <div class="col s12 m8 l9">
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img th:src="${course.imgUrl}" alt="course image">
                        <span id="detail-card-title" class="card-title"><strong th:text="${course.courseName}">Course name</strong>
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{/courses/edit/{courseId}
                                        (courseId=${course.courseId})}"
                                           class="btn-floating waves-effect waves-light btn-small yellow darken-1"><i
                                                class="material-icons">edit</i>
                                        </a>
                            </span>
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{/courses/delete/{courseId}
                                        (courseId=${course.courseId})}"
                                           class="btn-floating waves-effect waves-light btn-small red lighten-1"><i
                                                class="material-icons">delete_forever</i>
                                        </a>
                            </span>
                        </span>
                    </div>
                    <div class="card-content" th:text="${course.courseDetail}">
                        <p>Course Detail</p>
                    </div>
                    <div class="card-action">
                        <!-- Modal Trigger -->
                        <a th:if="${enrollment == false}" href="#modal-enrollment"
                           class="teal-text darken-1 modal-trigger"><strong>Enroll</strong></a>
                        <a target="_blank" th:unless="${enrollment == false}" th:href="${course.courseUrl}"
                           class="teal-text darken-1"><strong>Log in</strong></a>
                    </div>
                </div>
            </div>
            <!-- Modal Sctructure -->
            <div id="modal-enrollment" class="modal">
                <div class="modal-content">
                    <h4 class="teal-text">Tuition</h4>
                    <p>You are one step away from starting a new journey towards excellence.
                        Do you want to enroll in the course of <strong th:text="${course.courseName}">course name</strong>,
                        taught by <strong
                                th:text="${course.tutor.tutorName} + ' ' + ${course.tutor.tutorSurname}">tutor
                        </strong>?</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat red-text">Cancel</a>
                    <a th:href="|/enrollment/save/${course.courseId}|"
                       class="modal-close waves-effect waves-green btn-flat teal-text">
                        Confirm</a>
                </div>
            </div>
        </div>
    </div>
</main>
<br><br>
<footer class="page-footer teal" th:insert="fragments/footer">

</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>